<div class="booyah-box col-xs-10 col-xs-offset-1">

  <%= simple_form_for @usersetting, :url => walker_usersetting_path(@usersetting) do |f| %>
    <h4>Enter Your Step Length (use whole numbers)</h4>
    <%= f.label "Your Step Length:" %>
    <%= f.input :userstride %>
  
    <br />
    <br />
    Step Length Unit:
    <!--%= f.check_box :strideunit %--> <br />
    <%= f.collection_radio_buttons :strideunit, [[1, 'inches'], [0, 'cm']], :first, :last %>
    <br />
    <br />
    Distance Unit:
    <br />
    <!--%= f.check_box :distanceunit %--> 
     <%= f.collection_radio_buttons :distanceunit, [[1, 'miles'], [0, 'km']], :first, :last %>
    <br />
    <br />
    <%= f.submit 'Create', :class => 'btn btn-primary' %>
  <% end %>
</div>