<div class="booyah-box col-xs-10 col-xs-offset-1">
<%= link_to 'Enter Daily Steps', new_walker_walk_path, :class => 'btn btn-primary' %>
<br /><br />
<%= link_to 'Map', walker_locations_path, :class => 'btn btn-primary' %>
<% totaldistance = 0 %>
<% @walks.each do |walk| %>
  <% totaldistance = walk.step * @stepconversion * @distanceconversion + totaldistance %>
<% end %> 
<div id="total_distance">
  <h3>Total Distance : <%= totaldistance.round(2) %>
    <% if @current_user_distanceunit == 1 %>
      Miles
    <% else %>
      Km
    <% end %>
  </h3>
</div>
  <br /><br />
  <div class="CSSTableGenerator" >
      <table >
          <tr>
              <td>
                  Date
              </td>
              <td >
                  Steps
              </td>
              <td>
                  <% if @current_user_strideunit == 1 %>
                    Distance (Miles)
                  <% else %>
                    Distance (Km)
                  <% end %>
              </td>
          </tr>
          <% @walks.reverse_each do |walk| %>
            <% walk.distance = walk.step * @stepconversion * @distanceconversion  %>
            <tr>
                <td >
                    <%= walk.date %>
                </td>
                <td>
                    <%= walk.step %>
                </td>
                <td>
                    <%= walk.distance.round(2) %>
                </td>
            </tr>
          <% end %>
      </table>
  </div>

</div>
