<div class="booyah-box col-xs-10 col-xs-offset-1">
<%= link_to 'Enter Daily Steps', new_walk_path, :class => 'btn btn-primary' %>
<br /><br />
<% totaldistance = 0 %>
<% @walks.each do |walk| %>
  <% totaldistance = walk.step * 2.33 * 0.000189 + totaldistance %>
<% end %>
<div id="total_distance">
  <h3>Total Distance : <%= totaldistance.round(2) %> Miles</h3>
</div>
  <br /><br />
  <div class="CSSTableGenerator" >
      <table >
          <tr>
              <td>
                  Date
              </td>
              <td >
                  Steps
              </td>
              <td>
                  Distance (Miles)
              </td>
          </tr>
          <% @walks.reverse_each do |walk| %>
            <% walk.distance = walk.step * 2.33 * 0.000189 %>
            <!-- default stride 28 inches = 2.33 ft -->
            <!-- times 0.000442 to convert it to mile -->
            <!-- this will be a user input later -->
            <tr>
                <td >
                    <%= walk.date %>
                </td>
                <td>
                    <%= walk.step %>
                </td>
                <td>
                    <%= walk.distance.round(2) %>
                </td>
            </tr>
          <% end %>
      </table>
  </div>

</div>
